{% extends 'base.html' %}
{% block content %}

<h2>Vos posts</h2>

{% for post in all_user_posts %}
    {% if post.content_type == 'TICKET' %}
        {% include 'feed/ticket_snippet.html' %}
        <a href="{% url 'modify_ticket' post.id%}"><button>Modifier</button></a>
        <a href="{% url 'delete_ticket' post.id%}"><button>Supprimer</button></a>
    {% elif post.content_type == 'REVIEW' %}
        {% include 'feed/review_snippet.html' %}
        <a href="{% url 'modify_review' post.id%}"><button>Modifier</button></a>
        <a href="{% url 'delete_review' post.id%}"><button>Supprimer</button></a>
    {% endif %}
    <hr>
{% endfor %}

{% endblock content %}
