.register-form {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.register-form form {
	width: 40%;
}

.register-form input {
	text-align: center;
}

.register-form ul {
	color: red;
	text-align: left;
	margin-left: 20%;
}
