{% extends 'base.html' %}
{% block content %}
<div class="container container-menu">
	<div class="register-menu background-light border-box">
		<h2>Inscrivez-vous</h2>
		<a href="{% url 'register' %}">
			<button type="button">S'inscrire</button>
		</a>
	</div>
	<form method="post" class="connection-menu background-light border-box">
		<h2>Connectez-vous</h2>
		{{ form.as_p }}
        {% csrf_token %}
        {% for message in messages %}
		<p class="error-message">{{message}}</p>
		{% endfor %}
		<button type="submit">Se connecter</button>
	</form>
</div>
{% endblock content %}
